@model Mercury_WebApp.Models.Config

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConfigId" />
            <div class="form-group">
                <label asp-for="Keyname" class="control-label"></label>
                <input asp-for="Keyname" class="form-control" />
                <span asp-validation-for="Keyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keyvalue" class="control-label"></label>
                <input asp-for="Keyvalue" class="form-control" />
                <span asp-validation-for="Keyvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enddate" class="control-label"></label>
                <input asp-for="Enddate" class="form-control" />
                <span asp-validation-for="Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

